{% extends 'base.html.twig' %}

{% block title %}
    Liste des Pokémons | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pokemon.css') }}">
{% endblock %}

{% block body %}
    <section class="pokemon-grid">
        {% for pokemon in pokemons %}
            <div class="pokemon-card">
                <div class="pokeball_div">
                    <form method="post" action="{{ path('pokemon_capture', { id: pokemon.id }) }}">
                        <input type="hidden" name="redirect" value="{{ app.request.uri }}">
                        <button type="submit" class="pokeball-button" title="{{ pokemon.estCapture == 1 ? 'Relâcher' : 'Capturer' }}">
                            <img
                                    src="{{ asset('img/' ~ (pokemon.estCapture == 1 ? 'pokeball-ok.jpg' : 'pokeball-ko.jpg')) }}"
                                    alt="{{ pokemon.estCapture == 1 ? 'Capturé' : 'Non capturé' }}"
                                    class="pokeball-icon"
                            >
                            {{ pokemon.estCapture == 1 ? 'Relâcher' : 'Capturer' }}
                        </button>
                    </form>
                </div>

                <h2 class="pokemon-name">
                    {{ pokemon.nom }}

                </h2>
                <img src="{{ asset('img/' ~ pokemon.image) }}" alt="{{ pokemon.nom }}">
                <p>{{ pokemon.attaque }} points d'attaque</p>
                <a href="{{ path('pokemon_detail', {'id': pokemon.id}) }}">Détails</a>


            </div>
        {% endfor %}
    </section>
{% endblock %}